---
layout: default
title: Moje blogy
---
	<h1>{{ page.title }}</h1>
	<!-- <ul class="posts">

	  {% for post in site.posts %}
	    <li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	  {% endfor %}
	</ul> -->

	<ul>
	{% for post in site.posts %}
 	 <li>
<div class="panel panel-default">
  <a href={{ post.url }} style="text-decoration: none">
  <div class="panel-heading">
    <h3 class="panel-title">{{ post.title }}</h3>
  </div>
   </a>
  <div class="panel-body">
    {{ post.date | date_to_string }}
  </div>
</div>
</li>
	{% endfor %}
    </ul>
